[Desktop Entry]
Version=1.0
Type=Application
Name=Stable Diffusion
GenericName=Text-to-Image Web Application
Comment=Installs everything required for Stable Diffusion and starts a web browser
TryExec=kitty
StartupNotify=true
Exec=kitty -e stable-diffusion-ui-server
Icon=accessories-image-viewer
Categories=Graphics;
