[Unit]
Description=Post install steps for Ditana
Wants=network-online.target
After=network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/share/ditana/initialize-system-as-root.sh
ExecStartPost=/bin/systemctl disable ditana-initialize-system.service

[Install]
WantedBy=multi-user.target
